[submodule "fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "capnproto"]
	path = third_party/capnproto
	url = https://github.com/sandstorm-io/capnproto.git
[submodule "libzmq"]
	path = third_party/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "cppzmq"]
	path = third_party/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
